.banner {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;

  &--dark {
    background-color: $dark;
  }

  &--cyan {
    background-color: $cyan;
  }

  h1,
  h1 a {
    color: #ffffff;
    font: 400 #{to.rem(36px)} / #{to.rem(48px)} "Montserrat";
    letter-spacing: 1.8px;
    text-align: center;
  }

  h1 i {
    margin: 0 to.rem(20px);
  }
}
