footer {
  background-color: #f8f8f8;
  margin-top: 125px;
}

.links {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding: 50px 0 0;

  h1 {
    color: #575153;
    font: 700 to.rem(11px) "Montserrat";
    text-transform: uppercase;
  }

  ul {
    margin: 27px 0 0;
  }

  li,
  li a {
    color: #727272;
    font: 300 #{to.rem(12px)} / #{to.rem(20px)} "Montserrat";
  }

  li {
    margin: 9px 0;
  }
}

.banners {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 51px 0 55px;
}

.copyright {
  background-color: #333333;

  .container {
    display: flex;
    justify-content: space-between;

    p {
      color: #777777;
      font: 400 #{to.rem(13px)} / #{to.rem(20px)} "Montserrat";
      margin: 12.5px 0;
      margin-left: 30px;
    }

    p:first-child {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
