.input-container {
  border: 1px solid #e7e7e7;
  height: 28px;
  // margin: -8px 0 0 -21px;
  position: relative;
  width: 188px;

  &,
  input {
    color: #989898;
  }

  input {
    box-sizing: border-box;
    height: 100%;
    padding: 0 28px 0 10px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  i {
    font-size: 13px;
    line-height: 28px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 28px;
  }
}
