.location-details {
  background-color: #f8f8f8;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr repeat(5, #{$max-width * 0.2}) 1fr;
  grid-template-rows: 1fr;

  iframe {
    grid-column-end: 6;
    grid-column-start: 1;
    height: 100%;
    width: 100%;
  }

  section {
    grid-column-end: 8;
    grid-column-start: 6;
    padding: 18px 44px 0;

    ul {
      margin: 20px 0;
    }

    li,
    li a {
      color: #8e8c8c;
      font: 300 #{to.rem(12px)} / #{to.rem(22px)} "Montserrat";
    }

    li {
      position: relative;
      padding-left: 25px;
      margin: 10px 0;
    }

    li i {
      font-size: to.rem(14px);
      line-height: to.rem(22px);
      position: absolute;
      left: 0;
    }

    .social {
      display: flex;
      margin: 60px 0 90px;
    }

    .social a {
      align-items: center;
      background-color: #727272;
      border-radius: 30px;
      color: #ffffff;
      display: inline-flex;
      height: 30px;
      justify-content: center;
      width: 30px;
      margin-right: 14px;
    }
  }
}
