$navbar-height: 112px;

.navbar {
  align-items: center;
  background-color: #f8f8f8;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr var(--max-width) 1fr;
  grid-template-rows: 1fr;
  height: $navbar-height;
  justify-items: center;

  .logo {
    font-size: to.rem(24px);
    letter-spacing: 1.2px;
  }
}
