.top-bar-container {
  background-color: $dark;
}

.top-bar {
  display: flex;
  line-height: 45px;

  &,
  a,
  select {
    color: #999999;
    font-size: to.rem(13px);
  }

  a {
    margin-left: 33px;
  }

  .currency {
    margin-right: auto;
  }

  .shopping-cart {
    background-color: $cyan;
    color: #ffffff;
    margin-left: 80px;
    padding: 0 24px;

    i:first-child {
      font-size: 16px;
      margin: 0 20px 0 0;
    }

    i:last-child {
      font-size: 9px;
      margin: 0 0 0 5px;
    }
  }
}
