$cyan: #00c8c8;
$dark: #333333;

@mixin line-clamp($value) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $value;
  display: -webkit-box;
  line-clamp: $value;
  overflow: hidden;
}
