@use "sass-rem" as to;

@import "variables";
@import "banner";
@import "footer";
@import "input";
@import "intro";
@import "location-details";
@import "location";
@import "locations";
@import "nav";
@import "navbar";
@import "sub-nav";
@import "top-bar";

* {
  box-sizing: border-box;
}

body,
input,
select {
  font-family: "Montserrat", sans-serif;
}

input,
select {
  background: none;
  border: none;
}

select {
  cursor: pointer;
}

body,
input,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  transition: color 50ms ease-in-out;

  &:hover {
    color: $cyan;
  }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

:root {
  --max-width: 900px;

  @media (min-width: 1920px) {
    --max-width: 1170px;
  }
}
