@use "sass-rem" as to;

@import "variables";
@import "banner";
@import "footer";
@import "input";
@import "intro";
@import "location-details";
@import "location";
@import "locations";
@import "nav";
@import "navbar";
@import "sub-nav";
@import "top-bar";

body,
input,
select {
  font-family: "Montserrat", sans-serif;
}

input,
select {
  background: none;
  border: none;
}

body,
input,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link:hover {
  color: $cyan;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}
